/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Full Page Carousel itself*/
.carousel {
  height: 100%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }
  
 .bar-outer {
    margin-bottom: 60px;
    background: #ccc;
    height: 42px;
    border-radius: 3px;
}
.bar-outer, .bar-outer li em {
    position: relative;
}
.bar-outer {
    line-height: 18px;
    margin-bottom: 12px;
}
 
 .bar-expand {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding-right: 24px;
    background: #313131;
    height: 42px;
    line-height: 42px;
    border-radius: 3px 0 0 3px;
} 
.percentage80 {
    width: 80%;
    -moz-animation: percentage80 2s ease;
    -webkit-animation: percentage80 2s ease;
}
